<section class="works" id="works">
  <%= render "header"%>

  <div class="work">
    <div class="work--box">
      <div class="work--box__image">
        <%= image_tag "Nuno_website.png", alt: "", class: "" %>
      </div>
      <div class="work--box__textbox">
        <h2 class="work_title">Webpage sample 02</h2>
        <div class="work_text">
          <h3>Bootstrapを用いたwebページ制作</h3>
            <ul>
              <li>レスポンシブ対応</li>
            </ul>
            
          
          <p class="use_tool">使用ツール</p>
          <p class="use_tools">HTML5 / CSS3 / VS Code / BootStrap
          
          </p>
        </div>
      </div>

    
    
    </div>
  
  </div>




</section>







    

  
<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave-svg"><defs></defs><path id="wave" d=""/></svg>
 
<footer>
   <p><small>&copy; 2020 Michiko Sakai portfolio</small></p>
</footer>
