<%# <h2>Hello world!</h2> %>

<section class="home big-bg" id="home">
  <div class="header">
    <div class="wrapper">
      <div class="nav-logo">
        <%= image_tag "logo-sheep.png", alt: "ひつじロゴ", id: "assets", class: "image" %>
      </div>
      <div class="nav">
        <ul class="nav--ul">
          <li>Home</li>
          <li>About</li>
          <li>Skills</li>
          <li>Portfolio</li>
          <li>Service</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="home-body">
    <h1>Michiko Sakai Portfolio Website</h1>
  </div>
</section>



<section class="about wrapper" id="about">
  <div class="title">
    <h2>ABOUT</h2>
    <div class="title-underline"></div>
  </div>

  <div class="about-box">
    <div class="about-image">
      <img src="" alt="Michiko Sakaiの写真">
    </div>
    <div class="about-text">
      <p>お菓子の販売職でスタッフを約3年間経験したあと、7年間店長を勤めました。</p>
      <p>結婚・出産を機に自分のライフワークを改めて考え直し、時間や場所にとらわれないWebクリエイターとしての道を切りひらくため、テックキャンプに入校。</p>
      <p>現職を続けながらエンジニアコース（夜間/休日スタイル）にて約半年間、フロントエンドから、サーバーサイド、インフラまで学習しました。</p>
    </div>
    <div>
      <button>Lead More</button>
    </div>
  </div>

</section>


<section class="skills" id="skills">
  <div class="title">
    <h2>SKILLS</h2>
    <div class="title-underline"></div>
  </div>
  <div class="skill-box">
    <ul>
      <li class="slill-item">
        <i></i>
        <p>HTML5</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>CSS</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>Sass</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>Java Script</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>jQuery</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>Ruby</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>Rails</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>Git/GitHub</p>
      </li>
      <li class="slill-item">
        <i></i>
        <p>AWS</p>
      </li>

    </ul>
  </div>

</section>


<section class="portfolio" id="portfolio"> 
  <div class="title">
    <h2>PORTFOLIO</h2>
    <div class="title-underline"></div>
  </div>

  <div class="portfolio-box">
    <ul>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
     <li class="portfolio-item">
      <img src="" alt="作品のキャプチャ">
     </li>
    
    </ul>
  </div>
</section>


<section class="service" id="service">
  <div class="title">
    <h2>SERVICE</h2>
    <div class="title-underline"></div>
  </div>

<div class="service-inner">
  <div class="service-box">
    <i></i>
    <h3>Webページ制作 30,000円～</h3>
    <p>テンプレートを元にレスポンシブ対応なWebページをデザイン、コーディングします。</p>
    <p>納期目安：4週間以内</p>
  </div>
    <i></i>
    <h3>Webページ制作 30,000円～</h3>
    <p>テンプレートを元にレスポンシブ対応なWebページをデザイン、コーディングします。</p>
    <p>納期目安：4週間以内</p>
  </div>
</div>


</section>


<footer>
    <p><small>&copy; 2020 Michiko Sakai portfolio</small></p>
</footer>