<section class="works" id="works">
  <%= render "header"%>

  <div class="work">
    <div class="work--box">
      <div class="work--box__image">
        <%= image_tag "kurisuta01.png", alt: "", class: "" %>
      </div>
      <div class="work--box__textbox">
        <h2 class="work_title">Webpage sample 03</h2>
        <div class="work_text">
          <h3>クリ★スタ「 XDからのコーディング（初級編）」</h3>
            <ul>
              <li>デザインカンプからのコーディング（解説は見ず）</li>
              <li>レスポンシブ対応</li>
              <li>ハンバーガーメニュー</li>
            </ul>
            
          
          <p class="use_tool">使用ツール</p>
          <p class="use_tools">HTML5 / CSS3 / VS Code / JavaScript / jQuery / Sass
          </p>
        </div>
      </div>
      <div class="work_detail_box">
        <%= image_tag "kurisuta01-all.png", alt: "", class: "lp_all" %>  
      </div>
    </div>



  </div>
</section>







    

  
<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave-svg"><defs></defs><path id="wave" d=""/></svg>
 
<footer>
   <p><small>&copy; 2020 Michiko Sakai portfolio</small></p>
</footer>
