@import "variables";


.about_top {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $header_bg;
  }
  .about_inner {
    margin-top: 70px;
    padding-top: 100px;
    .about-box {
      display: flex;
      justify-content: space-around;
      .about-image {
        img {
  
        }
      }
      .about-text {
        display: flex;
        flex-direction: column;
        &__plf-box {
          display: flex;
          &--name-box {
            h2 {
              font-size: 30px;
              font-weight: bold;
              font-family: 'Roboto', sans-serif;
              letter-spacing: 1.5px;
            }
            span.blank {
              margin-left: 10px;
            }
            span.age {
              font-weight: normal;
            }
            p {
              font-size: 16px;
            }
            p.birthday {
              font-weight: bold;
            }
          }
          .social-box {
            // margin-top: 10px;
            margin-left: 20px;
            /* Wrapper */
          .icon-button {
            background-color: #fff;
            border-radius: 3.6rem;
            cursor: pointer;
            display: inline-block;
            font-size: 25px;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            -webkit-user-select: none;
              -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            width: 50px;
            &:hover span {
              width: 50px;
              height: 50px;
              border-radius: 50px;
              margin: -25px;
            }
            & i {
              background: none;
              color: #fff;
              height: 50px;
              left: 0;
              line-height: 50px;
              position: absolute;
              top: 0;
              -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                  -o-transition: all 0.3s;
                      transition: all 0.3s;
              width: 50px;
              z-index: 4;
            }
  
          }
  
          /* Circle */
          .icon-button span {
            border-radius: 0;
            display: block;
            height: 0;
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                    transition: all 0.3s;
            width: 0;
          }
          // .icon-button:hover span {
  
          // }
          .twitter span {
            background-color: #4099ff;
          }
          .github span {
            background-color: #161614;
          }
          .blog span {
            background-color: #db5a3c;
          }
  
          /* Icons */
          // .icon-button i {
  
          // }
          .icon-button .icon-twitter {
            color: #4099ff;
          }
          .icon-button .icon-github {
            color: #161614;
          }
          .icon-button .icon-blog {
            color: #db5a3c;
            font-size: 20px;
          }
          .icon-button:hover .icon-twitter,
          .icon-button:hover .icon-github,
          .icon-button:hover .icon-blog {
            color: #fff;
          }
  
  
          }
        }

        &--carrar-box {
          h3 {
            font-size: 20px;
            margin-top: 30px;
            font-weight: bold;
          }
          p.carrar {
            margin-top: 5px;
          }
          span.blank {
            margin-left: 10px;
          }
        }
        
      }
    }
  }
  

}

.about_challenge {
  margin-top: 100px;
  h2 {
    font-weight: bold;
    font-size: 30px;
  }
  span {
    font-size: 20px;
    font-weight: normal;
  }
  p:first-of-type {
    margin-top: 5px;
  }
  span.blank {
    margin-left: 10px;
  }
   &__blog {
     margin-top: 60px;
     h3 {
       font-size: 20px;
       font-weight: bold;
     }
     span.h3-underline {
      width: 150px;
      border-bottom: solid 1px $bb_grey;
      display: inline-block;
      display: flex;
      margin-top: 5px;
     }
     p:first-of-type{
      margin-top: 30px;
     }
     span.blank {
      margin-left: 10px;
    }
   }
   &__programming {
    margin-top: 120px;
     h3 {
      font-size: 20px;
      font-weight: bold;
     }
     span.h3-underline {
      width: 300px;
      border-bottom: solid 1px $bb_grey;
      display: inline-block;
      display: flex;
      margin-top: 5px;
     }
     ul {
       margin-top: 30px;
       font-weight: bold;
       font-size: 18px;
       li {
         font-weight: normal;
         list-style: inside;
         padding-left: 5px;
         font-size: 16px;
       }
       li:first-of-type {
         margin-top: 15px;
       }

     }
     ul:nth-of-type(n+2) {
      margin-top: 50px;
    }
   }
  &__another {
    margin-top: 100px;
    h3 {
      font-size: 20px;
      font-weight: bold;
     }
    span.h3-underline {
      width: 300px;
      border-bottom: solid 1px $bb_grey;
      display: inline-block;
      display: flex;
      margin-top: 5px;
     }
    ul {
      li {
        font-weight: normal;
        list-style: inside;
        padding-left: 5px;
        font-size: 16px;
      }
       li:first-of-type {
        margin-top: 15px;
      }
    }
  }
}

.objective {
  margin-top: 200px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 30px;
      font-weight: bold;
    }
    &--text {
      width: 60%;
      p {
        letter-spacing: 1px;
      }
      p:first-of-type,
      p:nth-of-type(3) {
        font-weight: bold;
      }
      p:first-of-type,
      p:nth-of-type(5) {
        margin-top: 30px;
      }
      p:nth-of-type(3) {
        margin-top: 50px;
      }
      p:nth-of-type(2),
      p:nth-of-type(4) {
        margin-top: 10px;
      }
    }
    &--image {
      // margin-right: 50px;
    }
  }
}









@media(max-width:1000px) {

  .wrapper {

  }

  .about_top {
    .about_inner {
      margin-top: 70px;
      padding-top: 50px;
      .about-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-image {
          img {
    
          }
        }
        .about-text {
          &__plf-box {
            display: flex;
            flex-direction: column;
            &--name-box {
              h2 {
                margin-top: 30px;
                font-size: 30px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1.5px;
                text-align: center;
              }
              span.blank {
                margin-left: 10px;
              }
              p {
                font-size: 14px;

              }
              p.birthday {
                font-weight: bold;
                text-align: center;
              }
            }
            .social-box {
              display: flex;
              justify-content: center;
              margin-left: 0;
              .icon-button {
                margin: 10px 0;
              }
            }
          }
          &--carrar-box {
            margin: 0 auto;
            
            span.br {
              display: inline-block;
              padding-left: 0px;
            }
            span.br2 {
              display: inline-block;
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
 
  .about_challenge {
    // margin-top: 100px;
    padding-top: 150px;
    // margin: 0 auto !important;
    // width: 70%;
    h2 {
      font-weight: bold;
      font-size: 25px;
    }
    span {
      font-size: 16px;

    }
     &__blog {
       margin-top: 40px;
       h3 {
         font-size: 20px;
         font-weight: bold;
       }
       span.h3-underline {
        width: 150px;
        border-bottom: solid 1px #888;
        display: inline-block;
        display: flex;
        margin-top: 5px;
       }
       p:first-of-type{
        margin-top: 30px;
       }
       span.blank {
        margin-left: 10px;
      }
     }
     &__programming {
      margin-top: 120px;
       h3 {
        font-size: 20px;
        font-weight: bold;
       }
       span.h3-underline {
        width: 300px;
        border-bottom: solid 1px #888;
        display: inline-block;
        display: flex;
        margin-top: 5px;
       }
       ul {
         margin-top: 30px;
         font-weight: bold;
         font-size: 18px;
         li {
           font-weight: normal;
           list-style: inside;
           padding-left: 5px;
           font-size: 14px;
         }
         li:first-of-type {
           margin-top: 15px;
         }
         span.br {
           display: inline-block;
           padding-left: 19px;
           font-size: 14px;
         }
        
  
       }
       ul:nth-of-type(n+2) {
        margin-top: 50px;
      }
     }
    &__another {
      margin-top: 100px !important;
      // padding-top: 100px;
      h3 {
        font-size: 20px;
        font-weight: bold;
       }
      span.h3-underline {
        width: 300px;
        border-bottom: solid 1px #888;
        display: inline-block;
        display: flex;
        margin-top: 5px;
       }
      ul {
        li {
          font-weight: normal;
          list-style: inside;
          padding-left: 5px;
          font-size: 16px;
        }
         li:first-of-type {
          margin-top: 15px;
        }
      }
    }
  }
  
  .objective {
    margin-top: 200px !important;
    // padding-top: 200px;
  
    &__box {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 23px;
        font-weight: bold;
      }
      &--text {
        width: 100%;
        p {
          margin-top: 10px;
          letter-spacing: 1px;
        }
        p:first-of-type{
          margin-top: 30px;
         }

      }
      &--image {
        // margin-right: 50px;
        margin-top: 50px !important;
        margin: 0 auto;
        img {

        }
      }
    }
  }



}



























@media(max-width:375px) {

  // span.br::before {
  //   content: "\A" ;
  //   white-space: pre ;
  //   padding-left: 100px;
  // }


  .about_top {
    .about_inner {
      margin-top: 70px;
      padding-top: 50px;
      .about-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-image {
          img {
    
          }
        }
        .about-text {
          &__plf-box {
            display: flex;
            flex-direction: column;
            &--name-box {
              h2 {
                margin-top: 30px;
                font-size: 30px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1.5px;
                text-align: center;
              }
              span.blank {
                margin-left: 10px;
              }
              p {
                font-size: 14px;

              }
              p.birthday {
                font-weight: bold;
                text-align: center;
              }
            }
            .social-box {
              display: flex;
              justify-content: center;
              margin-left: 0;
              .icon-button {
                margin: 10px 0;
              }
            }
          }
          &--carrar-box {
            h3 {
              font-size: 18px;
              margin-top: 60px;
              font-weight: bold;
            }
            p.carrar {
              margin-top: 5px;
            }
            span.br {
              display: inline-block;
              padding-left: 85px;
            }
            span.br2 {
              display: inline-block;
              padding-left: 92px;
            }
          }
        }
      }
    }
  }
  
  .about_challenge {
    // margin-top: 100px;
    padding-top: 150px;
    h2 {
      font-weight: bold;
      font-size: 25px;
    }
    span {
      font-size: 16px;

    }
     &__blog {
       margin-top: 40px;
       h3 {
         font-size: 20px;
         font-weight: bold;
       }
       span.h3-underline {
        width: 150px;
        border-bottom: solid 1px #888;
        display: inline-block;
        display: flex;
        margin-top: 5px;
       }
       p:first-of-type{
        margin-top: 30px;
       }
       span.blank {
        margin-left: 10px;
      }
     }
     &__programming {
      margin-top: 120px;
       h3 {
        font-size: 20px;
        font-weight: bold;
       }
       span.h3-underline {
        width: 300px;
        border-bottom: solid 1px #888;
        display: inline-block;
        display: flex;
        margin-top: 5px;
       }
       ul {
         margin-top: 30px;
         font-weight: bold;
         font-size: 18px;
         li {
           font-weight: normal;
           list-style: inside;
           padding-left: 5px;
           font-size: 14px;
         }
         li:first-of-type {
           margin-top: 15px;
         }
         span.br {
           display: inline-block;
           padding-left: 19px;
           font-size: 14px;
         }
        
  
       }
       ul:nth-of-type(n+2) {
        margin-top: 50px;
      }
     }
    &__another {
      margin-top: 100px !important;
      // padding-top: 100px;
      h3 {
        font-size: 20px;
        font-weight: bold;
       }
      span.h3-underline {
        width: 300px;
        border-bottom: solid 1px #888;
        display: inline-block;
        display: flex;
        margin-top: 5px;
       }
      ul {
        li {
          font-weight: normal;
          list-style: inside;
          padding-left: 5px;
          font-size: 16px;
        }
         li:first-of-type {
          margin-top: 15px;
        }
      }
    }
  }
  
  .objective {
    margin-top: 200px !important;
    // padding-top: 200px;
  
    &__box {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 23px;
        font-weight: bold;
      }
      &--text {
        width: 100%;
        p {
          margin-top: 10px;
          letter-spacing: 1px;
        }
        p:first-of-type{
          margin-top: 30px;
         }

      }
      &--image {
        // margin-right: 50px;
        margin-top: 50px !important;
        margin: 0 auto;
        img {

        }
      }
    }
  }



}



