// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 共通
@charset "UFT-8";
@import "variables";

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: $main_p_color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.8px;
  color: $main_p_color;

}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.section-top {
  // margin-top: 150px;
  padding-top: 150px;
}

.section-top2 {
  margin-top: 100px;
  padding: 100px 0;
}

.title {
  h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: #444;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
  }
  .title-underline {
    width: 100px;
    text-align: center;
    border-bottom: solid 5px $main_color;
    display: inline-block;
    display: flex;
    margin: 10px auto 0;
  }
}

// normal_header_start

.header {
  height: 70px;
  background-color: rgba(31, 121, 216, 0.6);
  // position: fixed;
  // width: 100%;
  z-index: 5;
  .wrapper {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo{
    margin-left: 10px;
    img {
      height: 50px;
      color: #fff;
    }
  }
  .nav {
    display: flex;
    &--ul {
      display: flex;
      li {
        padding-left: 20px;
        a {
          font-weight: bold;
          color: #fff;
          font-family: 'Roboto', sans-serif;
          letter-spacing: 1.5px;
          transition: all 0.8s ease 0s;
          &:hover {
            color: $header_hover;
            transition: all 0.8s ease 0s;
            // letter-spacing: 3px;
          }
        }
        &:last-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  // ハンバーガーメニュー非表示
  .btn-gnavi {
    display: none;
  }
  nav#global-navi {
    display: none;
  }

}

// normal_header_end



// 共通項終了

// home_section_start

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

// #home {

// }

.home {
  background-image: url(maldives.jpg);
  min-height: 100vh;
  position: relative;
  .home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 50px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 50%;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 2px;
    }
  }
}

// home_section_end



// about_section_start

.about {
  background-color: #fff;
  .about-box {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    .about-image{
      img {

      }
    }
    .about-text {
      width: 60%;
      position: relative;
      p {
       margin-bottom: 13px;
      }
      button.lead-more-btn {
        width: 200px;
        height: 50px;
        background: $main_color;
        text-align: center;
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 40% 70% 20% 40%/70% 60% 70% 50%;
        transition: all 0.8s ease 0s;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.5px;

        &:hover {
          border-radius: 90% 80% 90% 50%/90% 90% 80% 90%;
          transition: all 0.8s ease 0s;
          background-color: $btn_hover;
          letter-spacing: 2.5px;
        }
      } 
    }
  }
}
//about_section_end



// skills_section_stat

.skills {
  background-color: $bg_gray;
  .skill-box {
    margin-top: 70px;
    ul.skill-item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px; 
      
      li.skill-items {
        margin: 0 auto;
        background-color: #fff;
        width: 180px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.8s ease 0s;
        img {
          height: 70px;
          width: 70px;
          margin: 20px auto;
        
        }
        p {
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: bold;
          height: 60px;
          line-height: 60px;
          text-align: center;
          display: inline-block;
          border-top: 1px solid $bg_gray;
        }
        &:hover {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
          transform: translateY(-0.2em);
          transition: all 0.5s ease 0s;
        }
      }

    }
  }
}
// skills_section_end



// portfolio_section_start

.portfolio {
  background-color: #fff;
  .portfolio-box {
    margin-top: 70px;
    ul.portfolio-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px; 
      li.portfolio-items {
        margin: 0 auto;
        // background-color: #fff;
        width: 450px;
        display: flex;
        flex-direction: column;
       
        // border: 1px solid #fff;
        img {
          width: 450px;
          border-radius: 10px;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          color: #fff;
          // display: inline-block;
          transition: all 0.8s ease 0s;
        }
        img:hover {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
          transform: translateY(-0.2em);
          transition: all 0.5s ease 0s;
        }
      }
    }
  }
}

// portfolio_section_end

// service_section_start

.service {
  background-color: $bg_gray;
  .service-inner {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    .service-box {
      width: 550px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      // padding: 40px 60px;
      border-radius: 10px;
      .service-title {
        display: flex;
        flex-direction: column;
        // padding-top: 40px;
        // padding-bottom: 20px;
        padding: 40px 20px 20px;
        border-bottom: 2px solid $bg_gray;
      img {
        margin: 0 auto;
        width: 100px;
      }
      h3 {
        margin-top: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #444;
      }
      }
      .service-text {
        padding: 30px 60px;
        p {
          padding-top: 15px;
        }
        p.deadline {
          font-size: 18px;
          font-weight: bold;
          padding-top: 35px;
          text-align: center;
          color: #444;
        }
      }
    }
  }
}

// service_section_end

// contact_section_start
.contact {
  min-height: 50vh;
  margin-top: 100px;
  
  .contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-box {
      padding-top: 100px;
      p {
        text-align: center;
      }
      button.contact-btn {
        width: 300px;
        height: 80px;
        background: $main_color;
        text-align: center;
        color: #fff;
        margin-top: 70px;
        border-radius: 90% 80% 90% 50%/90% 90% 80% 90%;
        transition: all 0.8s ease 0s;
        letter-spacing: 1.5px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        &:hover {
          border-radius: 60% 50% 50% 70%/50% 50% 70% 60%;
          background-color: $btn_hover;
          letter-spacing: 3px;
          transition: all 0.8s ease 0s;
        }
      }
    }
  }
}



// contact_section_end



svg.wave-svg {
  vertical-align:bottom;
  margin-top: 30px;
}

// footer_start

footer {
  height: 70px;
  // background-color: blue;
  // margin-top: 150px;
  p {
    text-align: center;
    line-height: 70px;
    color: #fff;
    // background-color: linear-gradient(#0db, #1E00FF);
    background: linear-gradient(#0bd,#0694E7);
  }
}



// footer-end




// フェードイン

.fadein01.scrollin{
	opacity : 1;
	transform : translate(0, 0);
  }
  
// フェードイン パターン２
.fadein01 {
  opacity : 0.1;
	transform : translate(0, 50px);
  transition : all 1s ease ; 
}









