// プレークポイント(375)

@media(max-width:375px) {

  p {
    // font-size: 16px;
    font-size: 14px;
    line-height: 1.7;
    color: #555;
  
  }

  .wrapper {
    max-width: 345px;
    margin: 0 auto;
  }
  
  .section-top {
    // margin-top: 150px;
    padding-top: 150px;
  }
  
  .section-top2 {
    margin-top: 100px;
    padding: 100px 0;
  }
  
  .title {
    h2{
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      color: #444;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 2px;
    }
    .title-underline {
      width: 100px;
      text-align: center;
      border-bottom: solid 5px #1751CD;
      display: inline-block;
      display: flex;
      margin: 10px auto 0;
    }
  }
  
  // normal_header_start
  
  .header {
    height: 50px;
    background-color: rgba(31, 121, 216, 0.6);
    position: fixed;
    width: 100%;
    z-index: 5;
    .wrapper {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-logo{
      img {
        height: 30px;
        color: #fff;
      }
    }
    .nav {
      display: none;
    }

    // ハンバーガーメニュー非表示
    .btn-gnavi {
      display: none;
    }
    nav#global-navi {
      display: none;
    }
  
  }
  
  // normal_header_end
  
  




    // ハンバーガーメニュー表示
    .btn-gnavi {
      display: inline-block !important;
      position: fixed;
      top: 18px;
      right: 15px;
      width: 25px;
      height: 16px;
      z-index: 3;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: all 400ms;
      transition: all 400ms
    }
    .btn-gnavi span {
      display: inline-block !important;
      position: absolute;
      width: 25px;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      -webkit-transition: all 400ms;
      transition: all 400ms
    }
      span:nth-child(1) {
        top: 0
      }
      span:nth-child(2) {
        top: 7px;
      }
      span:nth-child(3) {
        bottom: 0;
      }
      .btn-gnavi.open {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
      }
      .btn-gnavi.open span {
        background: #555;
      }
      
    // ハンバーガーメニュ closeボタン
      .btn-gnavi.open span:nth-child(1) {
        width: 25px;
        transform: translateY(5px) rotate(-45deg);
      }
    
      .btn-gnavi.open span:nth-child(2) {
        opacity: 0;
      }

      .btn-gnavi.open span:nth-child(3) {
        width: 25px;
        transform: translateY(-9px) rotate(45deg);
      }


    nav#global-navi {
      display: inline-block !important;
    }
    nav#global-navi {
      position: fixed;
      top: 0;
      right: -375px;
      width: 100%;
      height: 100%;
      padding-top: 50px;
      background: #fff;
      font-size: 16px;
      box-sizing: border-box;
      z-index: 2
    }

    nav#global-navi {
      display: flex !important;
      align-items: center;
      
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        li {
          margin-bottom: 50px;
          a {
            color: #555;
          }
        }
        li:last-of-type {
          margin-bottom: 0;
        }
      }
    }

  // ハンバーガーメニュー終了


























  
  // 共通項終了
  
  // home_section_start
  
  .big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  // #home {
  
  // }
  
  .home {
    background-image: url(maldives.jpg);
    min-height: 100vh;
    position: relative;
    .home-body {
      display: flex;
      justify-content: center;
      align-items: center;
      
      h1 {
        // max-width: 345px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 40%;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        .br::before {
        	content: "\A" ;
	        white-space: pre ;
        }
      }

    }
  }
  
  // home_section_end
  
  
  
  // about_section_start
  
  .about {
    background-color: #fff;
    .about-box {
      display: flex;
      // justify-content: space-around;
      flex-direction: column;
      margin-top: 60px;
      .about-image{
        margin: 0 auto;
        img {
        }
      }
      .about-text {
        margin-top: 50px;
        padding: 0 10px;
        width: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
         margin-bottom: 13px;
  
        }
        button.lead-more-btn {
          margin-top: 40px;
          width: 200px;
          height: 50px;
          background: #1751CD;
          text-align: center;
          color: #fff;
          position: static;
          border-radius: 40% 70% 20% 40%/70% 60% 70% 50%;
          transition: all 0.8s ease 0s;
          font-size: 16px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          letter-spacing: 1.5px;
  
          &:hover {
            border-radius: 90% 80% 90% 50%/90% 90% 80% 90%;
            transition: all 0.8s ease 0s;
            background-color: #23AC0E;
            letter-spacing: 2.5px;
          }
        } 
      }
    }
  }
  //about_section_end
  
  
  
  // skills_section_stat
  
  .skills {
    background-color: #EDF2F7;
    .skill-box {
      margin-top: 70px;
      ul.skill-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px; 

        li.skill-items {
          margin: 0 auto;
          background-color: #fff;
          width: 100px;
          display: flex;
          flex-direction: column;
          border-radius: 20px;
          border: 1px solid #fff;
          img {
            height: 35px;
            width: 35px;
            margin: 15px auto;
          
          }
          p {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
            border-top: 1px solid #EDF2F7;
          }
        }
      }
    }
  }
  // skills_section_end
  
  
  
  // portfolio_section_start
  
  .portfolio {
    background-color: #fff;
    .portfolio-box {
      margin-top: 70px;
      ul.portfolio-item {
        display: flex;
        flex-direction: column;
        li.portfolio-items {
          // background-color: #fff;
          width: 100%;
          display: flex;
          align-items: center;
          // border: 1px solid #fff;
          img {
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
            color: #fff;
            // display: inline-block;
            transition: all 0.8s ease 0s;
          }
          img:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
            transform: translateY(-0.2em);
            transition: all 0.5s ease 0s;
          }
        }
        li.portfolio-items:nth-child(n+2) {
          margin-top: 30px;
        }

      }
    }
  }
  
  // portfolio_section_end
  
  // service_section_start
  
  .service {
    background-color: #EDF2F7;
    .service-inner {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      .service-box {
        width: 550px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        // padding: 40px 60px;
        border-radius: 10px;
        .service-title {
          display: flex;
          flex-direction: column;
          padding-top: 40px;
          padding-bottom: 20px;
          border-bottom: 2px solid #EDF2F7;
        img {
          margin: 0 auto;
          width: 100px;
        }
        h3 {
          margin-top: 15px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #444;
        }
        }
        .service-text {
          padding: 30px 40px;
          p {
            padding-top: 15px;
            letter-spacing: 1px;
          }
          p.deadline {
            font-size: 16px;
            font-weight: bold;
            padding-top: 25px;
            text-align: center;
            color: #444;
          }
        }
      }
    }
  }
  
  // service_section_end
  
  // contact_section_start
  .contact {
    min-height: 50vh;
    margin-top: 100px;
    
    .contact-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      .contact-box {
        padding-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
          text-align: center;
        }
        button.contact-btn {
          width: 200px;
          height: 60px;
          background: #1751CD;
          text-align: center;
          color: #fff;
          margin-top: 70px;
          border-radius: 90% 80% 90% 50%/90% 90% 80% 90%;
          transition: all 0.8s ease 0s;
          letter-spacing: 1.5px;
          font-size: 20px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          &:hover {
            border-radius: 60% 50% 50% 70%/50% 50% 70% 60%;
            background-color: #EDAD0B;
            letter-spacing: 3px;
            transition: all 0.8s ease 0s;
          }
        }
      }
    }
  }
  
  
  
  // contact_section_end
  
  
  
  svg.wave-svg {
    vertical-align:bottom;
    margin-top: 30px;
  }
  
  // footer_start
  
  footer {
    height: 70px;
    // background-color: blue;
    // margin-top: 150px;
    p {
      text-align: center;
      line-height: 70px;
      color: #fff;
      // background-color: linear-gradient(#0db, #1E00FF);
      background: linear-gradient(#0bd,#0694E7);
    }
  }
  
  
  
  // footer-end
  
  
  



  
}