@import "variables";


.skill_top {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $header_bg;
  }
  .skill-inner {
    margin-top: 120px;
    h2 {
      font-size: 30px;
      font-weight: bold;
    }
    .title-underline {
      width: 80px;
      text-align: center;
      border-bottom: solid 5px $main_color;
      display: inline-block;
      display: flex;
      margin-left: 12px;
    }
    ul {
      width: 1000px;
      li.skill-box01 {
        display: flex;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid $bg_gray;
        img {
          height: 80px;
          width: 80px;
        }
        .skill-text {
          margin-left: 25px;
          display: flex;
          align-items: center;
          ul.skill-list {
            li {
            }
          }
        }
      }
      li.skill-box01:first-of-type {
        margin-top: 60px;
      }
      li.skill-box01:nth-of-type(2) {
        border-bottom: 1px solid $bg_gray;
        margin-top: 0;
      }
    }
  }
}


@media(max-width:1000px) {

  .skill_top {
    .skill-inner {
      .title-underline {
      }
      ul {
        width: 100%;
      }
    }
  }
}


@media(max-width:375px) {
  .skill_top {
    .skill-inner {
      .title-underline {
      }
      ul {
        width: 100%;
        li.skill-box01 {
          img {
            height: 60px;
            width: 60px;
          }
        }
      }

    }
  }





}